@{
    ViewBag.Title = "About";
}


<div class="container text-center">
    <h1>@ViewBag.Message</h1>
    <h2>Online Electronics Shopping Store</h2>
    <p>Use this area to provide additional information.</p>

</div>
